[submodule "liftoff"]
	path = integrate/liftoff
	url = https://github.com/Tameyer41/liftoff.git
[submodule "pocket"]
	path = integrate/pocket
	url = https://github.com/pocketbase/pocketbase.git
[submodule "mintlify"]
	path = docs
	url = https://github.com/vivirox/mintlify-docs
[submodule "integrate/nexus"]
	path = integrate/nexus
	url = https://github.com/nexus-xyz/nexus-zkvm
[submodule "integrate/chatbot"]
	path = integrate/chatbot
	url = https://github.com/vercel/ai-chatbot.git
[submodule "integrate/swr"]
	path = integrate/swr
	url = https://github.com/vercel/swr
[submodule "integrate/styled-jsx"]
	path = integrate/styled-jsx
	url = https://github.com/vercel/styled-jsx.git
[submodule "integrate/style-guide"]
	path = integrate/style-guide
	url = https://github.com/vercel/style-guide.git
[submodule "integrate/payload"]
	path = integrate/payload
	url = https://github.com/payloadcms/payload
[submodule "integrate/edge-runtime"]
	path = integrate/edge-runtime
	url = https://github.com/vercel/edge-runtime.git
[submodule "integrate/resend"]
	path = integrate/resend
	url = https://github.com/resend/resend-vercel-example.git
[submodule "village"]
	path = village
	url = https://codeberg.org/vivirocks/village.git
[submodule "integrate/vercel-ai-chatbot"]
	path = integrate/vercel-ai-chatbot
	url = https://github.com/supabase-community/vercel-ai-chatbot.git
[submodule "integrate/ai-chatbot"]
	path = integrate/ai-chatbot
	url = https://github.com/vercel/ai-chatbot.git
