use-node-version=22.0.0
use-pnpm=true
engine-strict=true
auto-install-peers=true
node-linker=hoisted
strict-peer-dependencies=false
shamefully-hoist=true
prefer-workspace-packages=true
package-manager=pnpm@latest
enable-pre-post-scripts=true